*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-width: 100vh;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.principal{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.celular{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.celular img{
    height: 50rem;
}
.logim{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 1.3rem;
}
.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px;
}
.btn_entrar{
    width: 50px;
    height: 25px;
    background-color: green;
    border-radius: 10%;
    padding: 5px;
    color: white;

}
.botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.texto p{
    text-align: center;
}
.store img{
    width: 100px;
    height: 30px;
}
.google img{
    width: 100px;
    height: 30px; 
}