*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
.fundo{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 600px;
}
.entrar{
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 600px;
}
.logo{
    width: 100px;
}
.foto{
    width: 90%;
    height: 70%;
}
.aplicatios .app_store .google{
    width: 30%;
    height: 20%;
}