*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-width: 100vh;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.principal{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.celular{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.celular img{
    height: 50rem;
}